.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 1000;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-around;
    padding: 0 20px;
    //border-bottom: 1px solid rgba(57, 57, 57, 0.501);
    font-family: Arial, Helvetica, sans-serif;

    .nameDiv {
        @media (max-width: 700px) {
            display: none;
        }
        flex: 0.4;

        .nameboy {
            font-size: 20px;

            &:hover {
                cursor: pointer;
            }

            &:active {
                opacity: 0.5;
            }
        }
    }

    .navbar {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex: 1.2;
    }

    .sentEmail {
        @media (max-width: 700px) {
            display: none;
        }
        flex: 0.4;
        background-color: lightslategray;
    }
}

.projectsTt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 250px;

    .ttProject {
        font-size: 50px;
        font-weight: 600;
    }

    .textPro {
        font-size: 12px;
        color: rgba(46, 46, 46, 0.705);
    }
}

.projects {
    display: flex;
    flex-direction: column;
    margin: 30px 0;

    .allMap {
        @media (max-width: 800px) {
            flex-direction: column;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0 20px;
        margin: 30px 0;

        .imgSide {
            flex: 1;
            border-radius: 3px;
        }

        .dSide {
            flex: 1;

            .titleP {
                margin: 10px 0;
                font-size: 25px;
                font-family: "Playfair Display", serif;
                font-optical-sizing: auto;
                font-weight: 600;
                font-style: normal;
            }

            .dP {
                font-family: "Playfair Display", serif;
                font-optical-sizing: auto;
                font-weight: 400;
                font-style: normal;
                padding: 0 50px;
                margin-bottom: 20px;
                opacity: 0.8;
            }

            .btnLink {
                margin: 0 15px;
            }
            
        }
    }
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid rgba(77, 77, 77, 0.681);
    padding: 20px 0;

    .tilteF{
        @media (max-width: 500px) {
            display: none;
        }
    }

    .socials {
        display: flex;

        .abtn {
            margin-right: 10px;
        }
    }
}